.cards
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  .card
    margin-top: 15px
    margin-bottom: 15px
    margin-left: 15px;
    margin-right: 15px;
    width: 220px
    background-color: $WHITE;
    padding: 15px
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    // &:first-child
    //   margin-top: 0
    +for_breakpoint(mobile)
      width: 100%
    +for_breakpoint(tablet-portrait)
      width: 100%
    .card-title
      display: flex
      justify-content: space-between
      align-items: center
      .avatar
        width: 40px
        height: 40px
        border-radius: 50px
      .name
        width: 100%
        margin-left: 10px
