$WHITE = #FFFFFF
$BLACK = #000000

/*
 * Tons de cinza
 */
$DARKEST-GRAY = #333333
$DARKER-GRAY = #555555
$DARK-GRAY = #777777
$GRAY = #AAAAAA
$LIGHT-GRAY = #DDDDDD
$LIGHTER-GRAY = #EEEEEE

/*
 * Tons de azul
 */
$DARK-BLUE = #104977
$BLUE = #0A76BE
$LIGHT-BLUE = #6BAEDB

/*
 * Tons de vermelho
 */
$RED = #DC524C
$LIGHT-RED = #EDA9A5
$CUSTOM-RED = #d32f2f;

/*
 * Tons de verde
 */
$GREEN = #5AB478
$AQUA = #D5F3DF

/*
 * Tons de laranja
 */
$ORANGE = #EFA930
$LIGHT-ORANGE = #FBE7C5

/*
 * Tons pasteis
 */
$PASTEL-BLUE = #B5D7ED
$PASTEL-LIGHT-BLUE = #D2E7F4
$PASTEL-LIGHT-RED = #FFD5E3
$PASTEL-RED = #FCC3CB
$PASTEL-ORANGE = #FFD6B5
$PASTEL-GRAY = #D0C3B8
$PASTEL-PLUN = #C6BDD1

$WARNING = #efa930
