<div class="flex-row flex-end">
  <div data-toggle="modal" data-target="#logModal">
    <span class="glyphicon glyphicon-list pointer" title="Ver log"></span> <span>Ver log</span>
  </div>
</div>
<div class="cards">
  <div ng-repeat="user in vm.users | orderBy: 'name'" class="card">
    <div class="card-title">
      <img class="avatar" src="https://saasjusttodrive.blob.core.windows.net/profile/4ec291c4-faf3-4b04-9de7-644cef5295ef.null">
      <span class="name">{{user.name}}</span>
    </div>
    <div class="card-content">
      <div class="flex-row">
        <span class="glyphicon glyphicon-envelope item" aria-hidden="true"></span>
        <span class="item">{{user.email}}</span>
      </div>
      <div class="flex-row">
        <span class="glyphicon glyphicon-earphone item" aria-hidden="true"></span>
        <span class="item">{{user.phone}}</span>
      </div>
    </div>
    <div class="card-footer">
      <div class="flex-row flex-end">
        <span class="glyphicon glyphicon-pencil item pointer" title="Editar" ng-click="vm.setSelectedUser(user)" data-toggle="modal" data-target="#myModal"></span>
        <span class="glyphicon glyphicon-trash item pointer" title="Excluir" ng-click="vm.setSelectedUser(user)" data-toggle="modal" data-target="#modalConfirm"></span>
      </div>
    </div>
  </div>
</div>
<div class="btn-add" data-toggle="modal" data-target="#myModal" ng-click="vm.setSelectedUser(user)">
  <span title="Adicionar novo usuário">+</span>
</div>
<!-- Modal Add User -->
<add-user-modal user="vm.selectedUser" ok-fn="vm.saveUser"></add-user-modal>
<!-- Modal Log User -->
<log-modal user="vm.selectedUser"></log-modal>
<!-- Modal Confirm Delete -->
<modal-confirm action="vm.deleteUser"></modal-confirm>
